* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-clr, #242424);

    &:has(.contact-container, .about-container) {
        --body-clr: #1e1e1e;
    }
}
