.badge {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 0.7rem;
    font-size: 1.3rem;
    gap: 1rem;
    outline: 1px solid grey;
    border-radius: 20px;
    color: #fff;

    .removeSelectedUser {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
        font-size: 1.7rem;
        border-radius: 50%;
        transition: all 200ms ease;

        &:hover {
            background-color: #3a3a3a;
        }
    }
}
