.badge {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    display: inline-block;
    cursor: pointer;
    margin: 0 0.7rem;
    font-size: 1.2rem;
    width: 7rem;
    color: #fff;
}

.removeSelectedUser {
    position: absolute;
    width: 12px;
    height: 12px;
    margin: 0 0.5rem;
    filter: invert(1);
}

.removeSelectedUser:hover {
    background-color: #303030;
    filter: invert(0);
}