.userChat {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    border-radius: 12px;
    width: 100%;
    cursor: pointer;

    &:not(.selectedChat):hover {
        background-color: #303030;
    }

    &.selectedChat {
        background-color: #2d3436;
        pointer-events: none;
    }

    .conversationImg {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 14px;
        object-fit: cover;
    }

    .chat-details-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #fff;

        .chatDetails {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 63%;

            .userChatName {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .lastMessage {
                padding: 2px 0;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }

        .right-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            .newMessageBadge {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                font-size: 1.2rem;
                background: #2d3436;
            }
        }
    }
}

@media (max-width: 1024px) {
    .lastMessage {
        height: 16px !important;
    }
}
