<p>Dear <%= username %>,</p>
<p>Thank you for registering with whisperwave! We're excited to have you on board.</p>
<p>
    To ensure the security of your account and start chatting with your friends, please click on the following link to
    verify your email address:
</p>
<p><a href="<%= verifyLink %>">Verify Your Account</a></p>
<p>
    If you did not create an account with whisperwave, please disregard this email. Your account will not be activated.
</p>
<p>If you have any questions or need assistance, feel free to reach out to our support team. We're here to help!</p>
<p>Welcome once again, and we look forward to your active participation in the whisperwave community.</p>
<p>Best regards,<br />The whisperwave Team</p>
