<p>Dear <%= username %>,</p>
<p>Welcome to whisperwave! We're thrilled to have you as a member of our community.</p>
<p>
    To get started, simply log in to your account using the credentials you provided during the registration process and
    start chatting right away!
</p>
<p>If you have any questions or need assistance, feel free to reach out to our support team. We're here to help!</p>
<p>Best regards,<br />The whisperwave Team</p>
