.more {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    width: 100%;
    border-radius: 7px;
    transition: all 150ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #555;
    }

    img,
    svg {
        width: 18px;
        height: 18px;
        margin-right: 12px;
    }

    span {
        font-size: 12px;
        color: #fff;
        font-weight: 500;
    }

    #delete {
        font-size: 12px;
        color: #dc1c1c;
        font-weight: 500;
    }
}
