.more-options-container {
    width: 100%;

    .more-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 8px;
        width: 100%;
        border-radius: 7px;
        transition: background-color 150ms ease-in-out;
        cursor: pointer;
        background: transparent;
        border: none;

        &:hover {
            background-color: #555;
        }

        span,
        svg {
            color: #fff;
        }

        img,
        svg {
            width: 18px;
            height: 18px;
            margin-right: 12px;
        }

        span {
            font-size: 12px;
            font-weight: 500;
        }

        &.delete-btn {
            span,
            svg {
                color: #dc1c1c;
            }
        }
    }
}
