.updateGroupinfo {
    width: 100%;
    padding: 0 1.5rem;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.updateInfoHeader {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 0;

    > img {
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    > label {
        font-size: 1.5rem;
        margin: 0 2rem;
    }
}

.updateGroupName {
    width: 100%;
    padding: 2rem 0;

    > h2 {
        font-size: 1.3rem;
    }
}

.updateIt {
    width: 100%;
    margin: 1rem 0;

    > input {
        width: 72%;
        padding: 1rem;
        color: #fff;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }

    > button {
        padding: 6px 8px;
        border: none;
        cursor: pointer;
        border-radius: 7px;
        margin-left: 1.1rem;
        background: transparent;
        color: #fff;
        transition: all 150ms ease-in-out;

        &:hover {
            background-color: #555;
        }
    }
}

.manageUser {
    width: 100%;
    margin-top: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > h2 {
        font-size: 1.3rem;
    }

    .users-list {
        height: 100%;
        overflow: auto;
        padding-bottom: 1rem;

        &::-webkit-scrollbar {
            width: 7px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }

    > input {
        width: 100%;
        padding: 1rem;
        margin: 1rem 0;
        color: #fff;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
}
