.list-item-container {
    position: relative;
    margin: 1rem 0;
    width: 100%;
    padding: 10px 7px;
    border-radius: 7px;

    &:hover {
        background-color: #303030;
        cursor: pointer;
    }

    .info-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .meta-info {
            display: flex;
            align-items: center;

            .user-profile {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                object-fit: cover;
            }

            > div {
                display: flex;
                flex-direction: column;
                margin-left: 2rem;
                gap: 0.5rem;

                .username {
                    font-size: 14px;
                }
            }
        }

        .actions-container {
            display: flex;
            align-items: center;
            gap: 1rem;

            :where(.addIcon, .removeIcon) {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px;
                border-radius: 50%;
                font-size: 1.8rem;
                transition: all 150ms ease-in-out;

                &:hover {
                    background-color: #555;
                }
            }

            .removeIcon {
                color: red;
            }
        }
    }
}

.removeUserIcon {
    width: 18px;
    height: 18px;
}
