.empty-state-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    .animation-container {
        width: 250px;
    }

    h3 {
        color: #e0e0e0;
        font-size: 2rem;
    }

    p {
        color: #a0a0a0;
        font-size: 1.5rem;
        max-width: 80%;
    }
}
